@using Umbraco.Cms.Web.Common.PublishedModels;
@using umbraco.Models.ContentModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<SearchPageContentModel>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Main.cshtml";
}
<div style="padding-left: 3%;">
    @await Component.InvokeAsync("SearchForm", new { Model?.SearchRequest })
    <div style="display:flex">
        <div><h3>Searching for: @Model.SearchRequest.Query </h3>
        </div>
        <div>
        @if (Model.SearchResponse.HasResults)
        {
            <div class="table-wrapper" style="margin-left:100%; width: 500%;">
                <table>
                    <tbody>
                        @foreach (var item in Model.SearchResponse.SearchResults)
                        {
                            var contentItem = Umbraco.Content(item.Id);
                            <tr>
                                <td><a href="@contentItem.Url()">@contentItem.Name</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
           
        </div>

    </div>        @await Component.InvokeAsync("PaginationView", new { model = Model.Pagination })
</div>

