<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8776524b-2c4f-46dd-aa4d-0bbc4563a25d" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-display color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>pages</Folder>
    <Compositions>
      <Composition Key="8fa73858-45ef-4766-8d0b-c4feaba6e9e9">contentProperties</Composition>
      <Composition Key="0f375541-bed4-4860-beb1-65d3cc9caaf7">headerProperties</Composition>
      <Composition Key="336fc351-5629-42ab-9ff6-3501aebaf390">sEOProperties</Composition>
      <Composition Key="964d3800-f9c5-4625-9059-ad271fea1392">taggingProperties</Composition>
      <Composition Key="2d639509-0f00-48a4-8111-7af83632652c">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7556b6bf-5a87-48b7-b680-8af19f4675e1">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="8e9edd33-3563-43d2-bead-14c535e4effe" SortOrder="0">searchPage</ContentType>
    <ContentType Key="354c06ae-ebf4-4fe9-84f2-d4c069fc16be" SortOrder="1">contentPage</ContentType>
    <ContentType Key="f9152cc0-a71b-419c-b336-0814624a2019" SortOrder="2">siteSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>