<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8e9edd33-3563-43d2-bead-14c535e4effe" Alias="searchPage" Level="2">
  <Info>
    <Name>Search Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>pages</Folder>
    <Compositions>
      <Composition Key="336fc351-5629-42ab-9ff6-3501aebaf390">sEOProperties</Composition>
      <Composition Key="964d3800-f9c5-4625-9059-ad271fea1392">taggingProperties</Composition>
      <Composition Key="2d639509-0f00-48a4-8111-7af83632652c">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>SearchPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="507690fb-36cc-4e98-9817-95e950d2bf2f">SearchPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>