<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="964d3800-f9c5-4625-9059-ad271fea1392" Alias="taggingProperties" Level="2">
  <Info>
    <Name>Tagging Properties</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9778f656-5acd-4ff3-820f-6d1ea8f58e1f</Key>
      <Name>Page Tags</Name>
      <Alias>pageTags</Alias>
      <Definition>b6438a48-341b-4b80-ab19-d6ef8a949cd5</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="pageSettings/tagging">Tagging</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>74b7a54a-3352-473a-bf39-b7ce046e829f</Key>
      <Caption>Tagging</Caption>
      <Alias>pageSettings/tagging</Alias>
      <Type>Group</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>864f2cdd-96f1-4315-b46a-e294eac6748c</Key>
      <Caption>Page Settings</Caption>
      <Alias>pageSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>60</SortOrder>
    </Tab>
  </Tabs>
</ContentType>