<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2d639509-0f00-48a4-8111-7af83632652c" Alias="visibilityProperties" Level="2">
  <Info>
    <Name>Visibility Properties</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f5330d2c-8115-46ac-b752-0ca37f344d1a</Key>
      <Name>Hide</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="pageSettings/pageVisibility">Page Visibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>840aae09-ee18-4f2a-bae2-4252f6f0f957</Key>
      <Caption>Page Settings</Caption>
      <Alias>pageSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>60</SortOrder>
    </Tab>
    <Tab>
      <Key>fdc635b3-a9a3-4f38-ae5c-1ebf4be856f0</Key>
      <Caption>Page Visibility</Caption>
      <Alias>pageSettings/pageVisibility</Alias>
      <Type>Group</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>