@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<Umbraco.Cms.Web.Common.PublishedModels.RichText>>

    <div style="text-align:center;  ">
    <p style=" margin:2%;">@Model.Content.Text</p>
</div>