@inherits UmbracoViewPage
@{
    var home = Model.GetHome();
    if (home is null) return;
    var number = ViewBag.Number;
}
@if (!string.IsNullOrEmpty(number))
{
    <p>The number is: @number</p>
}
@await Html.GetBlockGridHtmlAsync(home, "mainContent")
