<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5b3432a-633d-465e-92e6-1c96b6d4887e" Alias="About" Level="2">
  <Info>
    <Parent Key="924c6341-cb5f-4ee5-9f05-8f2f23244206">home</Parent>
    <Path>/home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-08-28T16:50:55</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2f0b7595-25ad-4bc2-aabf-dad7b5e3d938">ContentPage</Template>
  </Info>
  <Properties>
    <headerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/a9f3bda1c3614145b55dd7693133c98f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2d70ff46-4368-4031-9f29-b2266644f882",
      "udi": "umb://element/a9f3bda1c3614145b55dd7693133c98f",
      "image": [
        {
          "key": "f83fe5ef-04fd-4481-8539-c0ccf3d80c84",
          "mediaKey": "55439029-37fb-4b04-bada-fc5c6f04a36e"
        }
      ],
      "title": "TITLE",
      "subtitle": "subtitle"
    }
  ],
  "settingsData": []
}]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/933601e4be07423e9b69319b98effe1c",
        "areas": [
          {
            "key": "e2122163-198c-485e-9942-bc404d981c51",
            "items": [
              {
                "contentUdi": "umb://element/b3e9fe6eeb6544f49d15a5fcc7d1dadd",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "612f8f48-81a3-481c-81dd-f1bc5adf1249",
            "items": [
              {
                "contentUdi": "umb://element/283fadc2f1dd4194a7bc7be4b2fbfe11",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/f0bb3bf953d24cb294c6384391268a49",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/3dfb2a4e9f04488796baecadd9ca54dd",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/e0052cb63a444618bf21d06cb12f9aa4",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d5b50578-2a9f-4a6c-acdd-002c7d795a0f",
      "udi": "umb://element/933601e4be07423e9b69319b98effe1c"
    },
    {
      "contentTypeKey": "f257084b-edc2-40b2-bd5d-f20849726027",
      "udi": "umb://element/b3e9fe6eeb6544f49d15a5fcc7d1dadd",
      "text": "This is the title",
      "color": {
        "value": "796f6f",
        "label": "Secondary",
        "sortOrder": 1,
        "id": "2"
      }
    },
    {
      "contentTypeKey": "ad1c7934-374d-4298-8c34-1197a05672fa",
      "udi": "umb://element/f0bb3bf953d24cb294c6384391268a49",
      "image": [
        {
          "key": "682acc54-7a73-4982-9c16-cf7b4651930a",
          "mediaKey": "f208dc13-0f37-4743-9fb1-561d2ca93f8c"
        }
      ],
      "link": [
        {
          "url": "#"
        }
      ],
      "label": "two",
      "description": "description"
    },
    {
      "contentTypeKey": "ad1c7934-374d-4298-8c34-1197a05672fa",
      "udi": "umb://element/283fadc2f1dd4194a7bc7be4b2fbfe11",
      "image": [
        {
          "key": "0f0e298b-2b9f-4536-afe6-a07d7a7a961f",
          "mediaKey": "2297787b-257e-4fcb-9e6d-aba077da791d"
        }
      ],
      "link": [
        {
          "url": "#"
        }
      ],
      "label": "one",
      "description": "description"
    },
    {
      "contentTypeKey": "ad1c7934-374d-4298-8c34-1197a05672fa",
      "udi": "umb://element/3dfb2a4e9f04488796baecadd9ca54dd",
      "image": [
        {
          "key": "6b3588ed-497a-4bce-b4ec-0f1b9e95ddb9",
          "mediaKey": "abf27668-55be-4fdb-ba2d-a39571de756b"
        }
      ],
      "link": [
        {
          "url": "#"
        }
      ],
      "label": "three",
      "description": "description"
    },
    {
      "contentTypeKey": "ad1c7934-374d-4298-8c34-1197a05672fa",
      "udi": "umb://element/e0052cb63a444618bf21d06cb12f9aa4",
      "image": [
        {
          "key": "de8f6ea9-5ee2-4d49-b956-a92dfed65bb5",
          "mediaKey": "0f468586-5d56-42d5-841c-5fe4ac9aeb19"
        }
      ],
      "link": [
        {
          "url": "#"
        }
      ],
      "label": "four",
      "description": "description"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <metaDiscription>
      <Value><![CDATA[]]></Value>
    </metaDiscription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[umb://document/09f3a00b2da548ab82e1ebaa9b8801d8,umb://document/7d067ed855f54c4fb400beac1d3e3c9e]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>