<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d067ed8-55f5-4c4f-b400-beac1d3e3c9e" Alias="Block List" Level="4">
  <Info>
    <Parent Key="c082ed88-34e5-4747-8637-8b84ea34e3a2">Page Tags</Parent>
    <Path>/home/SiteSettings/PageTags/BlockList</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTag</ContentType>
    <CreateDate>2024-08-29T08:51:02</CreateDate>
    <NodeName Default="Block List" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagAlias>
      <Value><![CDATA[]]></Value>
    </tagAlias>
  </Properties>
</Content>