<?xml version="1.0" encoding="utf-8"?>
<Content Key="09f3a00b-2da5-48ab-82e1-ebaa9b8801d8" Alias="Block Grid" Level="4">
  <Info>
    <Parent Key="c082ed88-34e5-4747-8637-8b84ea34e3a2">Page Tags</Parent>
    <Path>/home/SiteSettings/PageTags/BlockGrid</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTag</ContentType>
    <CreateDate>2024-08-29T08:50:51</CreateDate>
    <NodeName Default="Block Grid" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagAlias>
      <Value><![CDATA[]]></Value>
    </tagAlias>
  </Properties>
</Content>