<?xml version="1.0" encoding="utf-8"?>
<Content Key="924c6341-cb5f-4ee5-9f05-8f2f23244206" Alias="home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-08-28T16:49:36</CreateDate>
    <NodeName Default="home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7556b6bf-5a87-48b7-b680-8af19f4675e1">Home</Template>
  </Info>
  <Properties>
    <headerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/84f043feb7bc453e83ee644a17725448",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2d70ff46-4368-4031-9f29-b2266644f882",
      "udi": "umb://element/84f043feb7bc453e83ee644a17725448",
      "image": [
        {
          "key": "af5130f0-8f63-4582-9219-46aacd0e4e59",
          "mediaKey": "741daa27-c500-420f-8cf9-34cc3b1df36a"
        }
      ],
      "title": " Rafi Elharake | Web Developer ",
      "subtitle": "Building Dynamic and User-Friendly Websites"
    }
  ],
  "settingsData": []
}]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/5f380c292e334472ab2ac5cc5aaef2e9",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/64280ea3cf7648fc90e0494a60474e93",
        "areas": [
          {
            "key": "7d968537-d0e1-401e-9cd3-cba755cf5d68",
            "items": [
              {
                "contentUdi": "umb://element/e7db565fd5c04fadb9e92516464b7f95",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/987a5d72ba5349ca846da4aa9a15067e",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [
          {
            "key": "e2122163-198c-485e-9942-bc404d981c51",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/8c364dd8d7d54cc98aa0976edae26e5a"
              }
            ]
          },
          {
            "key": "612f8f48-81a3-481c-81dd-f1bc5adf1249",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/a84eee65b4ab43ec9af520208e528482"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/18cbc7797937446891f9f9cd5e4cd7d0"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/77a7ceea1e51428b929c758cabdec23d"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/f8004de285d340a489692950deb7daed"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/93db5050dd444ff4a0398614fe0ef43b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "83ebf468-ab60-4c5e-afb0-3d6a54052688",
      "udi": "umb://element/5f380c292e334472ab2ac5cc5aaef2e9",
      "text": {
        "markup": "<p>Check out my latest projects and contributions:&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "d5b50578-2a9f-4a6c-acdd-002c7d795a0f",
      "udi": "umb://element/93db5050dd444ff4a0398614fe0ef43b"
    },
    {
      "contentTypeKey": "f257084b-edc2-40b2-bd5d-f20849726027",
      "udi": "umb://element/8c364dd8d7d54cc98aa0976edae26e5a",
      "text": "Projects",
      "color": {
        "value": "796f6f",
        "label": "Secondary",
        "sortOrder": 1,
        "id": "2"
      }
    },
    {
      "contentTypeKey": "ad1c7934-374d-4298-8c34-1197a05672fa",
      "udi": "umb://element/a84eee65b4ab43ec9af520208e528482",
      "image": [
        {
          "key": "0f0e298b-2b9f-4536-afe6-a07d7a7a961f",
          "mediaKey": "2297787b-257e-4fcb-9e6d-aba077da791d"
        }
      ],
      "link": [
        {
          "url": "#"
        }
      ],
      "label": "one",
      "description": "description"
    },
    {
      "contentTypeKey": "ad1c7934-374d-4298-8c34-1197a05672fa",
      "udi": "umb://element/18cbc7797937446891f9f9cd5e4cd7d0",
      "image": [
        {
          "key": "682acc54-7a73-4982-9c16-cf7b4651930a",
          "mediaKey": "f208dc13-0f37-4743-9fb1-561d2ca93f8c"
        }
      ],
      "link": [
        {
          "url": "#"
        }
      ],
      "label": "two",
      "description": "description"
    },
    {
      "contentTypeKey": "ad1c7934-374d-4298-8c34-1197a05672fa",
      "udi": "umb://element/77a7ceea1e51428b929c758cabdec23d",
      "image": [
        {
          "key": "6b3588ed-497a-4bce-b4ec-0f1b9e95ddb9",
          "mediaKey": "abf27668-55be-4fdb-ba2d-a39571de756b"
        }
      ],
      "link": [
        {
          "url": "#"
        }
      ],
      "label": "three",
      "description": "description"
    },
    {
      "contentTypeKey": "ad1c7934-374d-4298-8c34-1197a05672fa",
      "udi": "umb://element/f8004de285d340a489692950deb7daed",
      "image": [
        {
          "key": "de8f6ea9-5ee2-4d49-b956-a92dfed65bb5",
          "mediaKey": "0f468586-5d56-42d5-841c-5fe4ac9aeb19"
        }
      ],
      "link": [
        {
          "url": "#"
        }
      ],
      "label": "four",
      "description": "description"
    },
    {
      "contentTypeKey": "7d83c716-4d0e-4d4d-98d0-46e2e63e3db8",
      "udi": "umb://element/64280ea3cf7648fc90e0494a60474e93"
    },
    {
      "contentTypeKey": "97411dfd-9159-46fd-a59b-93643301c1e3",
      "udi": "umb://element/e7db565fd5c04fadb9e92516464b7f95",
      "label": "Github",
      "link": [
        {
          "url": "https://github.com/rafiElharake?tab=repositories"
        }
      ]
    },
    {
      "contentTypeKey": "97411dfd-9159-46fd-a59b-93643301c1e3",
      "udi": "umb://element/987a5d72ba5349ca846da4aa9a15067e",
      "label": "itch",
      "link": [
        {
          "url": "https://rafi0.itch.io/"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <metaDiscription>
      <Value><![CDATA[]]></Value>
    </metaDiscription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>