<?xml version="1.0" encoding="utf-8"?>
<Content Key="c082ed88-34e5-4747-8637-8b84ea34e3a2" Alias="Page Tags" Level="3">
  <Info>
    <Parent Key="e5a950c9-f275-49f8-9cbc-93ad135e7917">Site Settings</Parent>
    <Path>/home/SiteSettings/PageTags</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTags</ContentType>
    <CreateDate>2024-08-29T08:43:34</CreateDate>
    <NodeName Default="Page Tags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>