<?xml version="1.0" encoding="utf-8"?>
<Content Key="d34ce68f-78d6-499e-ba3a-2f79343ed422" Alias="Search" Level="2">
  <Info>
    <Parent Key="924c6341-cb5f-4ee5-9f05-8f2f23244206">home</Parent>
    <Path>/home/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2024-08-28T16:51:36</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="507690fb-36cc-4e98-9817-95e950d2bf2f">SearchPage</Template>
  </Info>
  <Properties>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <metaDiscription>
      <Value><![CDATA[]]></Value>
    </metaDiscription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>