<?xml version="1.0" encoding="utf-8"?>
<Content Key="e5a950c9-f275-49f8-9cbc-93ad135e7917" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="924c6341-cb5f-4ee5-9f05-8f2f23244206">home</Parent>
    <Path>/home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2024-08-28T16:56:23</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/4de0e1b97433455ea5762579ae4221b5",
        "areas": [
          {
            "key": "1cc8be96-a6a1-44de-83b1-573d1b3f7e4f",
            "items": [
              {
                "contentUdi": "umb://element/6a0c69d7c049421cb087920e0729bfa2",
                "areas": [],
                "columnSpan": 8,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "4edae439-af3d-4693-8d20-1fd08d9de8fe",
            "items": [
              {
                "contentUdi": "umb://element/35afa258bc334217aca8bf8719403059",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "4de1cb0a-fb81-4847-9af6-d8fcf40fef1b",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f36cba1a-e5f8-4e36-847d-f51f2eccf127",
      "udi": "umb://element/4de0e1b97433455ea5762579ae4221b5"
    },
    {
      "contentTypeKey": "691af9b4-138e-4320-8e91-4901798f0c29",
      "udi": "umb://element/6a0c69d7c049421cb087920e0729bfa2",
      "title": "Get In Touch",
      "yourName": "Name",
      "email": "Email",
      "message": "Message",
      "send": ""
    },
    {
      "contentTypeKey": "250b8a21-7468-4f88-9acf-df54b457b4d6",
      "udi": "umb://element/35afa258bc334217aca8bf8719403059",
      "title": "Social Links",
      "links": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3ca4f2ab3b27491e94a507f2c5ad3c56"
            },
            {
              "contentUdi": "umb://element/f6d46eae43744952aa62f48e48646ff0"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "758e962f-f690-468d-b7e3-833a6cbe8ade",
            "udi": "umb://element/3ca4f2ab3b27491e94a507f2c5ad3c56",
            "link": [
              {
                "url": "https://facebook.com"
              }
            ],
            "icon": [
              {
                "key": "bd1cac30-6fdf-4132-b2d2-b08fa3987814",
                "mediaKey": "1c95ff1d-7b6c-4262-8a96-b67956d204e3"
              }
            ],
            "iconColor": {
              "value": "7b7676",
              "label": "gray",
              "sortOrder": 0,
              "id": "1"
            },
            "invertedIconColor": {
              "value": "f44336",
              "label": "red",
              "sortOrder": 0,
              "id": "1"
            }
          },
          {
            "contentTypeKey": "758e962f-f690-468d-b7e3-833a6cbe8ade",
            "udi": "umb://element/f6d46eae43744952aa62f48e48646ff0",
            "link": [
              {
                "url": "https://www.x.com/"
              }
            ],
            "icon": [
              {
                "key": "ca90d83e-c063-42cb-a3f0-7fc7e1d8a605",
                "mediaKey": "239f945d-f0c6-445e-94d4-865f133ec5e0"
              }
            ],
            "iconColor": {
              "value": "7b7676",
              "label": "gray",
              "sortOrder": 0,
              "id": "1"
            },
            "invertedIconColor": {
              "value": "f44336",
              "label": "red",
              "sortOrder": 0,
              "id": "1"
            }
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </footerContent>
    <mainNavigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/5893bd312be344f49cb9c73382990535",
        "areas": [
          {
            "key": "c88007de-52f8-4ced-9e5a-cf0e78f437e7",
            "items": [
              {
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1,
                "contentUdi": "umb://element/45d15f5449de4045b0277ab4fd7f8614"
              },
              {
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1,
                "contentUdi": "umb://element/f1d44a87b5d049dd9089a61a69c371f3"
              },
              {
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1,
                "contentUdi": "umb://element/49272fa6b5f2431ca4ce62a55a404b0f"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8d3d5275-cf49-421b-8631-1b28b441f68f",
      "udi": "umb://element/5893bd312be344f49cb9c73382990535"
    },
    {
      "contentTypeKey": "8a417be5-a612-4bcc-805f-6873320978d5",
      "udi": "umb://element/45d15f5449de4045b0277ab4fd7f8614",
      "title": "Search",
      "link": [
        {
          "udi": "umb://document/d34ce68f78d6499eba3a2f79343ed422"
        }
      ],
      "childLinks": ""
    },
    {
      "contentTypeKey": "8a417be5-a612-4bcc-805f-6873320978d5",
      "udi": "umb://element/f1d44a87b5d049dd9089a61a69c371f3",
      "title": "About",
      "link": [
        {
          "udi": "umb://document/f5b3432a633d465e92e61c96b6d4887e"
        }
      ],
      "childLinks": ""
    },
    {
      "contentTypeKey": "8a417be5-a612-4bcc-805f-6873320978d5",
      "udi": "umb://element/49272fa6b5f2431ca4ce62a55a404b0f",
      "title": "Drop Down",
      "link": "",
      "childLinks": [
        {
          "name": "Home",
          "udi": "umb://document/924c6341cb5f4ee59f058f2f23244206"
        },
        {
          "udi": "umb://document/f5b3432a633d465e92e61c96b6d4887e"
        },
        {
          "udi": "umb://document/d34ce68f78d6499eba3a2f79343ed422"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </mainNavigation>
    <siteName>
      <Value><![CDATA[My website]]></Value>
    </siteName>
  </Properties>
</Content>