<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c95ff1d-7b6c-4262-8a96-b67956d204e3" Alias="Faceboook" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Faceboook</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-30T16:29:47</CreateDate>
    <NodeName Default="Faceboook" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ft5jkhdm/facebook.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>