<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5d499cd-76ee-40af-bfdf-dac6e3db1c0b" Alias="Html5up Phantom" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Html5upPhantom</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-02T13:33:44</CreateDate>
    <NodeName Default="Html5up Phantom" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0wmnjvpo/html5up-phantom.zip]]></Value>
    </umbracoFile>
  </Properties>
</Media>