<?xml version="1.0" encoding="utf-8"?>
<Media Key="abf27668-55be-4fdb-ba2d-a39571de756b" Alias="Pic03" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Pic03</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T08:48:49</CreateDate>
    <NodeName Default="Pic03" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nz1pfk34/pic03.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>