<?xml version="1.0" encoding="utf-8"?>
<Media Key="f208dc13-0f37-4743-9fb1-561d2ca93f8c" Alias="Pic02" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Pic02</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T08:40:15</CreateDate>
    <NodeName Default="Pic02" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cxoar2rx/pic02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>