<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f468586-5d56-42d5-841c-5fe4ac9aeb19" Alias="Pic04" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Pic04</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T09:01:01</CreateDate>
    <NodeName Default="Pic04" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qccfmd0w/pic04.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>