<?xml version="1.0" encoding="utf-8"?>
<Media Key="239f945d-f0c6-445e-94d4-865f133ec5e0" Alias="Twitter" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Twitter</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-30T16:30:42</CreateDate>
    <NodeName Default="Twitter" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nskj4i4g/twitter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>