<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dfe98c4f-592d-4309-9853-159aa72bbb4b" Alias="[BlockGrid] - Header Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Header Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "2d70ff46-4368-4031-9f29-b2266644f882",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/main.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>