<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec050f1f-40a4-488d-a122-c970ca435e0f" Alias="[BlockGrid] - Main Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Main Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "83ebf468-ab60-4c5e-afb0-3d6a54052688",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/main.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        }
      ],
      "contentElementTypeKey": "ad1c7934-374d-4298-8c34-1197a05672fa",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/fontawesome-all.min.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGridPreviews/ImageLink.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "title",
          "columnSpan": 12,
          "createLabel": "Add Title",
          "key": "e2122163-198c-485e-9942-bc404d981c51",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "image-links",
          "columnSpan": 12,
          "createLabel": "Add Image Links",
          "key": "612f8f48-81a3-481c-81dd-f1bc5adf1249",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "ad1c7934-374d-4298-8c34-1197a05672fa",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "d5b50578-2a9f-4a6c-acdd-002c7d795a0f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "f257084b-edc2-40b2-bd5d-f20849726027",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/main.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGridPreviews/Titlee.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        }
      ],
      "contentElementTypeKey": "97411dfd-9159-46fd-a59b-93643301c1e3",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/main.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGridPreviews/Linksb.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "link",
          "columnSpan": 12,
          "createLabel": null,
          "key": "7d968537-d0e1-401e-9cd3-cba755cf5d68",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "97411dfd-9159-46fd-a59b-93643301c1e3",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "7d83c716-4d0e-4d4d-98d0-46e2e63e3db8",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>