<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf733426-c5a0-4e74-8aee-70f13612d1ac" Alias="[BlockGrid] - Footer Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Footer Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "7b8b1639-b239-4823-bf73-6966dcfdb792",
      "name": "Layout"
    },
    {
      "key": "62c12fd1-8ae4-4712-9914-0c5ea0e9bebc",
      "name": "Modules"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "left",
          "columnSpan": 8,
          "createLabel": "Add Footer Content",
          "key": "1cc8be96-a6a1-44de-83b1-573d1b3f7e4f",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "691af9b4-138e-4320-8e91-4901798f0c29",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "right",
          "columnSpan": 4,
          "createLabel": null,
          "key": "4edae439-af3d-4693-8d20-1fd08d9de8fe",
          "maxAllowed": 1,
          "minAllowed": 1,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "250b8a21-7468-4f88-9acf-df54b457b4d6",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": 1
            }
          ]
        },
        {
          "alias": "",
          "columnSpan": 6,
          "createLabel": null,
          "key": "4de1cb0a-fb81-4847-9af6-d8fcf40fef1b",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "f36cba1a-e5f8-4e36-847d-f51f2eccf127",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "7b8b1639-b239-4823-bf73-6966dcfdb792",
      "iconColor": null,
      "inlineEditing": true,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "691af9b4-138e-4320-8e91-4901798f0c29",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "62c12fd1-8ae4-4712-9914-0c5ea0e9bebc",
      "iconColor": null,
      "inlineEditing": true,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/main.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "250b8a21-7468-4f88-9acf-df54b457b4d6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "62c12fd1-8ae4-4712-9914-0c5ea0e9bebc",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/main.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>