<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86ee0792-cfee-47e1-9d76-66e25b00185b" Alias="[Color Picker] Brand Colors" Level="1">
  <Info>
    <Name>[Color Picker] Brand Colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"7b7676\",\"label\":\"gray\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>