<?xml version="1.0" encoding="utf-8"?>
<DataType Key="034646ca-7e92-4e4b-a451-4e3c404fa056" Alias="[Color Picker] white or secondary" Level="1">
  <Info>
    <Name>[Color Picker] white or secondary</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"ffffff\",\"label\":\"white\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"796f6f\",\"label\":\"Secondary\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>