<?xml version="1.0" encoding="utf-8"?>
<DataType Key="466fcfa7-b173-490e-86d0-fc850af215a5" Alias="[MultiURLPicker] - Single URL Picker" Level="2">
  <Info>
    <Name>[MultiURLPicker] - Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>