<?xml version="1.0" encoding="utf-8"?>
<DataType Key="788bcb9b-0cb4-4e9f-a855-291d97fff5b9" Alias="SEO Properties - Is Followable - Toggle" Level="1">
  <Info>
    <Name>SEO Properties - Is Followable - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>