<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ce187a33-46bf-421a-af37-7b9af00a7988" Alias="Social Link - Inverted Icon Color - Color Picker" Level="1">
  <Info>
    <Name>Social Link - Inverted Icon Color - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"f44336\",\"label\":\"red\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>