<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3117bca0-69c3-4c8f-b5ea-15687f05427c" Alias="[Toggle] Default True" Level="2">
  <Info>
    <Name>[Toggle] Default True</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>